.container-cards {
  display: flex;
  justify-content: space-evenly;
};

.red-button {
  background-color: red;
  color: white;
};

.green-button {
  background-color: green;
  color: white;
};

button {
  cursor: pointer;
}
