<div class="container-cards">
  <app-card
  [planType]="cardPlanType"
  [planPrice]="cardPlanPrice"></app-card>

  <app-card-roxo></app-card-roxo>
</div>

<input
  #meuInput
  id="meu-input"
  [type]="inputType"
  [placeholder]="inputValue"
  [disabled]="inputDisabled"
  (input)="getTextInput($event)"
  (keyup)="handlePlanType(meuInput.value)"/>

<br>

<button type="button" (click)="updateDisabledBtn()">{{ textBtnDisabled }}</button>

<br>

<button type="button" (click)="typePassword()">Esconder</button>
<button type="button" (click)="typeText()">Aparecer</button>

<br>
<br>
<br>

<button [title]="textAttrTitle">Test</button>

<br>

<button
  [attr.disabled]="attrDisabledBtn ? true : null"
>Disabled</button>

<button
  title="Habilitar ou desabilitar o botão Disabled."
  (click)="handleDisabledBtnAttr()"
  [style.background-color]="testBackground"
  [style.padding.px]="textPxPadding">Style Binding</button>

<br>
<br>

<button [className]="classBtn()">Class Binding</button>
<button (click)="updateClassBtn()">Update Class Binding</button>
